.hero {
    padding: 70px;
    height: 70vh;
}

.hero-content p {
    font-size: 13px;
}

.hero-buttons button {
    margin: 60px 30px 0px 0px;
}

#divider-1 {
    background: url('../assets/right-angle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
}

.home .fields {
    min-height: 70vh;
    background-color: var(--tertiary-color);
    overflow-x: hidden;
}

.field-header {
    text-align: center;
    margin: 60px 0px 0px;
    color: var(--primary-color);
}

.field-header h3 {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 1.3px;
}

.fields .single-field {
    max-width: 500px;
    color: var(--primary-color-1);
    margin: 60px 20px;
}

.fields .single-field img {
    width: 50px;
    margin: 10px 0px 25px;
}

.fields .single-field p {
    font-size: 1.0rem;
    letter-spacing: 1.3px;
    margin: 0px 0px 10px;
    font-weight: 200;
}

.about {
    background-color: var(--primary-color);
    overflow-x: hidden;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.about-stat {
    display: inline-block;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    background-color: var(--tertiary-color-1);
}

.about-stat .stat-title {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1.3px;
    margin: 0px 0px 30px;
}

.about-stat .stat-desc {
    font-size: 1.0rem;
    font-weight: 200;
    letter-spacing: 1.3px;
}