/* global variables */

:root {
    --primary-color: #E5E5CB;
    --primary-color-1: #e5e5cbd8;
    --secondary-color: #3C2A21;
    --secondary-color-1: #3c2a21c9;
    --tertiary-color: #1A120B;
    --tertiary-color-1: #1a120bd4;
    --tertiary-color-2: #1a120b46;
}

body {
    background-color: var(--primary-color);
    font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-color);
}

.btn-1 {
    background-color: black;
    color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}

.btn-2 {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    height: 46px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}